*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background: rgb(2, 0, 36);
    background: linear-gradient(90deg, rgba(64, 64, 251, 1) 43%, rgba(0, 212, 255, 1) 100%);
}
/* Pruebas del Navbar*/
 
 a:hover{
    color: rgb(27, 37, 40);
    text-decoration: none;
}
a:active{
    color:#006f9f;
}  
.logo{
    height: 4rem;
}
.navbar,header{
    background-color: #fff;
    border-radius: 5px;
    }
.titulo{
    text-align: center;
    font-style: italic;
    color: lightblue;
    margin-top: 5rem;

}


.carousel-inner{
    border-radius: 5px;
    
}
iframe{
   margin-top: 5rem;


}
 #galeria img {
    width:100%;
    height: 250px;
}
#galeria .col-lg-4 {
    margin: 0 !important;
    padding: 25px;
}
#galeria img:hover {
    border: 5px solid whitesmoke;
}


.animacion{
    height: 200px;
    width: 200px;
    position: relative;
    margin: auto;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    box-shadow: 0 20px 35px rgba(0,0,0,0.3);
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
}
.animacion:before{
    content: "";
    background-image: conic-gradient(
        #04b0ee 20deg,
        transparent 120deg
    );
    height: 150%;
    width: 150%;
    position: absolute;
    left: -25%;
    top: -25%;
    animation: rotate 6s infinite linear;
}
@keyframes rotate{
    100%{
        transform: rotate(-360deg);
    }
}
.animacion:after{
    content: "Anotate aca";
    height: 94%;
    width: 94%;
    position: absolute;
    background-color: #2517e5;
    border-radius: 5px;
    top: 3%;
    left: 3%;
    color: #04b0ee;
    display: grid;
    place-items: center;
    font-size: 20px;
    letter-spacing: 6px;
}
.formulario{
    width: 300px;
    background: white;
    padding: 30px;
    margin-top: 100px;
    border-radius: 5px;
    margin: 0;
    font-family:  Arial, Helvetica, sans-serif;
    color:#005f88;
    }
.controles{
    width: 100%;
    padding:10px;
    background-color: whitesmoke;
    border-radius: 5px;
    margin-bottom: 16px;
    border: 1px solid #005f88;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    padding-left: 1px,
}
.formulario p{
    font-size: 15px;
    text-align: center;
    height: 40px;
    
}
.boton{
width: 100%;
background: whitesmoke;
border: #005f88; 
color: #005f88;
border-radius: 5px;
}
footer{
    margin-top: 5rem;
}